<h1>Ingrese su producto</h1>

<form class="form">
    <div class="formDiv">
        <label><i>Nombre</i></label>
        <input type="text" name="title" id="title" required>
    </div>
    <div class="formDiv">
        <label><i>Precio</i></label>
        <input type="number" name="price" id="price" required>
    </div>
    <div class="formDiv">
        <label><i>Foto URL</i></label>
        <input type="text" name="thumbnail" id="thumbnail" required>
    </div>

    <input type="submit" value="Agregar producto" class="btn">
</form>